<main class="bodyMain coll">
    <section class="row">
        <app-single-slot class="box">
            <p>The ng-content element is a placeholder that does not create a real DOM element. Custom attributes applied to ng-content are ignored.</p>
        </app-single-slot>

       <app-multi-slots class="box">
           <p>If your component includes an ng-content element without a select attribute, that instance receives all projected components that do not match any of the other ng-content elements.
               In the preceding example, only the second ng-content element defines a select attribute. As a result, the first ng-content element receives any other content projected into the component.</p>
           <p second>Second with Attr</p>
       </app-multi-slots>
    </section>
    <section class="row">
      <app-conditional-content class="box">
          <ng-template directive1>
              <div>Hello</div>
          </ng-template>
      </app-conditional-content>
        <app-crazy-ng-content class="box">
                <div *ngFor="let item of list">
                    <h3 (click)="console(item)">{{item.name}}</h3>
                </div>
        </app-crazy-ng-content>
    </section>

</main>
